[submodule "upstream/ShieldedCSV"]
	path = upstream/ShieldedCSV
	url = https://github.com/ShieldedCSV/ShieldedCSV.git
[submodule "upstream/ZeroSync-ZKCoins"]
	path = upstream/ZeroSync-ZKCoins
	url = https://github.com/ZeroSync/ZKCoins.git
[submodule "upstream/rust-bitcoincore-rpc"]
	path = upstream/rust-bitcoincore-rpc
	url = https://github.com/ZeroSync/rust-bitcoincore-rpc.git
[submodule "upstream/BitVM-zkCoins"]
	path = upstream/BitVM-zkCoins
	url = https://github.com/BitVM/zkCoins.git
